{% extends "fourth_task/menu.html" %}
{% block title %}
    {{ block.super }} - Магазин
{% endblock %}

{% block pagename %}
    Игры
{% endblock %}

{% block content %}
    {{ block.super }}
    <ul>
    {% for key, value in mydict.items %}
        {% for i in value %}
        <li><h3>
            {{ i }}
            <button onclick="return confirm('Вы подтверждаете эту покупку?');" type="submit" name="product" value="{{ i }}">
                Купить
            </button>
        </h3></li>
        {% endfor %}
    {% endfor %}
    <ul>
{% endblock %}

