<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МАГАЗИН</title>
</head>
<body>
    <h1><font color="green">ИГРЫ</h1>
    <ul>
    {% for itm in items %}
        <li><h3>
            {{itm}}
            <button onclick="return confirm('Вы подтверждаете эту покупку?');">Купить</button>
        </h3></li>
    {% endfor %}
    </ul>
    <a href="/games">
        <h3>Корзина</h3>
    </a>
    <form action="{{back}}">
        <button onclick="return confirm('Уверены?');">
            <h2>Вернуться обратно</h2>
        </button>
    </form>
</body>
</html>