
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <h1>Корзина</h1>
    <h2><font color="red">Извините, Ваша корзина пуста.</font>
        <br><font color="blue">Повторите покупку! Удачи!
    </h2>
        <a href="{{cart}}">
        <h3><font color="green">Вернуться в магазин</h3>
    </a>
    <form action="{{back}}">
        <button>
            <h3><font color="blue">На главную страницу</h3>
        </button>
    </form>

</body>
</html>